<%= link_to [:admin, book], class: "tile" do %>
  <div class="cover cover--small">
    <% if book.cover_url_small.present? %>
      <%= image_tag book.cover_url_small %>
    <% else %>
      <div class="cover__empty">
        <%= inline_svg_tag "images/icons/icon-no-image.svg" %>
      </div>
    <% end %>
  </div>

  <div class="mt-1">
    <big><%= book.title %></big>
  </div>

  <div class="mt-1">
    <strong><%= book.isbn %></strong><br>
    <em><%= book.listings_with_price.size %> listings</em>
  </div>

  <div class="mt-1">
    <% book.authors.each do |author| %>
      <small><%= author.name %></small>
    <% end %>
  </div>
<% end %>
